<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colegio Patria</title>
</head>
<style>
    .form-container {
  width: 600px;
  margin-top: 6em;
  margin-left: 28%;
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 95%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}
select{
    width: 95%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #e81cff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 100%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}

</style>
<body>
    <div class="form-container">
    <form action="/recibo" method="post" class="form">

        <div class="form-group">
            <label for="numero">Número de Docente:</label>
            <input type="number" id="numero" name="numero" required> 
        </div>
        
        <div class="form-group">
            <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        </div>
        
        <div class="form-group">
            <label for="domicilio">Domicilio:</label>
        <input type="text" id="domicilio" name="domicilio" required>
        </div>
        

        <div class="form-group">
            <label for="nivel">Nivel:</label>
        <select id="nivel" name="nivel" required>
            <option value="1">Licenciatura o Ingeniería</option>
            <option value="2">Maestro en Ciencias</option>
            <option value="3">Doctor</option>
        </select>
        </div>
        

        <div class="form-group">
            <label for="pagoHoraBase">Pago base por hora impartida:</label>
        <input type="number" id="pagoHoraBase" name="pagoHoraBase" step="0.01" required>
        </div>
        

        <div class="form-group">
            <label for="horas">Horas impartidas:</label>
        <input type="number" id="horas" name="horas" required>

        </div>
        
        <div class="form-group">
            <label for="numHijos">Cantidad de hijos:</label>
        <select id="numHijos" name="numHijos" required>
            <option value="0">1 o 2 Hijos</option>
            <option value="1">2 a 5 Hijos</option>
            <option value="2">Mas de 5 Hijos</option>
        </select>
        </div>
        

        <button type="submit" class="form-submit-btn">Calcular Recibo</button>
        <button type="reset" class="form-submit-btn">Limpiar</button>
    </form>
</div>
</body>

</html>

