<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Pago</title>
</head>
<style>
.card {
 width: 190px;
 height: 254px;
 background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
 border-radius: 20px;
 transition: all .3s;
 height: fit-content;
}

.card2 {
 width: 190px;
 height: fit-content;
 background-color: #1a1a1a;
 border-radius:20px;
 transition: all .2s;
 color: aliceblue;
 text-align: center;
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
}

.card2:hover {
 transform: scale(0.98);
 border-radius: 20px;
 color: #e81cff;
}

.card:hover {
 box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
 
}
</style>
<body>
    <h1>Recibo de Pago del Docente</h1>
    
    <% if (isPost) { %>

      <div class="card">
        <div class="card2">
          <p>Número de Docente: <%= numero %></p>
          <p>Nombre: <%= nombre %></p>
          <p>Domicilio: <%= domicilio %></p>
          <p>Nivel: <%= nivel %></p>
          <p>Pago por hora base: <%= pagoHoraBase %></p>
          <p>Horas impartidas: <%= horas %></p>
          <p>Cantidad de hijos: <%= cantidadH %></p>
        </div>
      </div>
      
  
      <h2>Detalles de Pago</h2>
      <div class="card">
        <div class="card2">
          <p>Pago por horas impartidas: $<%= pagoPorHoras.toFixed(2) %></p>
        <p>Bono por hijos: $<%= bono.toFixed(2) %></p>
        <p>Impuesto retenido: $<%= impuesto.toFixed(2) %></p>
        <h3>Total a pagar: $<%= totalAPagar.toFixed(2) %></h3>
        </div>
      </div>
      
    <% } else { %>
      <p>Ingrese los detalles del docente para calcular el recibo de pago.</p>
    <% } %>
  
  </body>
  
</html>